{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Cheap {% block titlearea %} {% endblock titlearea %} Property Maintenance
{% endblock title %}
{% block content %}
    <div class="white">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">{% block area %}{% endblock area %}Property Maintenance, Construction & Landscaping</h3>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                    <div class="white">
    <br>
    <br>
                        <div class="container">
                        <div class="card">
                            <div class="card-body text-center">
                                <p>We know how much your house means to you thats why we always provide a high quality service at a great affordable price, we can tackle almost any job you would ever find in your property whether it is the roofing that is the problem or the garden we here at 5 star property maintenance have you covered!</p>
                                <p>We take pride in all our work which is why customer satisfaction is always guarateeed just take a look at our testimonials and we are local to {% block area2 %}{% endblock area2 %}</p>
                                <h3>Call us on <a href="tel:07472703733">07472703733</a> or click below and get a quote!</h3>
                            <a style="background-color: #f9b101" class="btn text-white" href="{% url 'enquiry' %}">Make an enquiry!</a>



                            </div>
                        </div>
                    </div>
                        <br>
                        <br>
                    </div>
            </div>
        </div>
    </div>
    <div class="greyscale-it">
    <br>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-lg">
            <div class="card border-0 mb-3">
                <img class="card-img-top" src="{% static 'core/bigstock-Plastering-The-Wall-Hands-Pla-320315068.jpg' %}">
                <div class="card-body text-center">
                    <h5 class="card-title">Interior Services</h5>
                    <p >We Provide a wide range of interior services at an affordable price to suit all your needs!</p>
                    <br>
                    <a style="background-color: #f9b101" class="btn text-white" href="{% url 'about' %}">Find out more!</a>
                </div>
            </div>
        </div>
                <div class="col-lg">
            <div class="card border-0 mb-3">
                <img class="card-img-top" src="{% static 'core/bigstock-Laying-Gray-Concrete-Paving-Sl-259289362.jpg' %}">
                <div class="card-body text-center">
                    <h5 class="card-title">Exterior Services</h5>
                    <p>We also provide excellent quality exterior services whether it is blockwork you are after or maybe an extension, call the number above and find out more! </p>
                    <br>
                    <a style="background-color: #f9b101" class="btn text-white" href="tel:07472703733">Call Now!</a>
                </div>
            </div>
        </div>
                <div class="col-lg">
            <div class="card border-0 mb-3">
                <img class="card-img-top" src="{% static 'core/bigstock-Man-laying-grass-turf-rolls-fo-312587296.jpg' %}">
                <div class="card-body text-center">
                    <h5 class="card-title">Landscaping Services</h5>
                    <p>Want to reclaim space in your garden? We provide a quick high quality and yet affordable turfing service whether its uprooting trees or leveling out your garden we can complete the task!</p>
                    <br>
                    <a style="background-color: #f9b101" class="btn text-white" href="{% url 'enquiry' %}">Make an enquiry!</a>
                </div>
            </div>
        </div>
    </div>
    </div>
<br>
<br>
<br>
</div>

{% endblock content %}